{% assign article_items = include.posts | default: site.posts %}
<ol class="console-list article-list">
  {% for post in article_items limit: include.limit %}
  {% assign desc = post.description | default: post.excerpt | strip_html | strip %}
  <li class="console-list-item">
    <article class="console-list-body">
      <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
      {% if desc != '' and desc != post.title %}
      <p class="console-list-excerpt">{{ desc }}</p>
      {% endif %}
    </article>
    <div class="console-list-meta">
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time>
      {% for cat in post.categories %}
      <a href="{{ '/categories/#' | append: cat | relative_url }}">{{ cat }}</a>
      {% endfor %}
    </div>
  </li>
  {% endfor %}
</ol>
