<!--{% if site.google.adsense.enabled and site.google.adsense.footer and page.layout != 'mindmap' and site.url contains 'mazhuang.org' %}-->
<!--      &lt;!&ndash; 博客底部 &ndash;&gt;-->
<!--      <ins class="adsbygoogle"-->
<!--           style="display:block"-->
<!--           data-ad-format="autorelaxed"-->
<!--           data-ad-client="ca-pub-7093222719567591"-->
<!--           data-ad-slot="9073246172"></ins>-->
<!--      <script>-->
<!--           (adsbygoogle = window.adsbygoogle || []).push({});-->
<!--      </script>-->
<!--{% endif %}-->
