{% if site.components.side_bar_repo.enabled %}
<div class="boxed-group flush">
  <h3>Featured Projects</h3>
  <ul class="mini-repo-list">
    {% assign project_count = 0 %}
    {% for group in site.data.projects %}
      {% for project in group.projects %}
        {% if project_count < site.components.side_bar_repo.limit %}
        <li class="public source">
          <a href="{{ project.url }}" target="_blank" rel="noopener" class="mini-repo-list-item">
            <span class="repo-icon octicon octicon-repo"></span>
            <span class="repo-and-owner">
              <span class="repo">{{ project.name }}</span>
            </span>
            <span class="stars">
              <span class="octicon octicon-star"></span>
              {{ project.stars }}
            </span>
            <span class="repo-description">{{ project.description }}</span>
          </a>
        </li>
        {% assign project_count = project_count | plus: 1 %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>
</div>
{% endif %}
